.container {
    margin: 0px 10rem;
    height: 1100px;
    background-color: rgb(170, 166, 166);
    position: relative;
    content: '';
    top: 0;
    left: 0;
    z-index: 0;
}

.innerContainer {
    display: flex;
    position: relative;
    content: '';
    top: 10%;
    margin: auto;
    width: 60vw;
    height: 900px;
    background-color: white;
}

.imgContainer {
    position: absolute;
    content: '';
    top: -40px;
    left: -77px;
    z-index: 1;
    width: 50%;
}

.aboutImg {
    border-radius: 50%;
}

.about {
    width: 50%;
    position: absolute;
    right: 10px;
    top: 97px;
}

.about h1 {
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.about p {
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.btn {
    position: absolute;
    top: 40%;
    right: 40%;
    height: 6%;
    background-color: rgb(3, 3, 77);
    color: white;
    border-radius: 6px;
}

.section {
    display: flex;
}

.section {
    position: absolute;
    bottom: 2%;
    height: 40%;
    
}

.subSection {
    margin: 2%;
    width: 50%;
    padding: 0 2%;
}

.subSection h2 {
    font-size: 2rem;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.subSection p {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.first{
    background-color: rgb(147, 88, 171);

}

.second{
    background-color: rgb(48, 146, 170);
}

.third{
    background-color: rgb(24, 141, 100);
    
}